<% include ./partials/header.ejs %>

    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>This application is built using node.js, angular.js, mongodb </br>
        and version control is done using Git.</p>
    </div>

<% include ./partials/footer.ejs %>
